@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

.heading, .card{
    font-family: "Pattaya", sans-serif;
}

.navHead{
    font-family: "Oooh Baby", cursive;
}